{% extends 'namik/base.html' %}
{% load static %}
{% block content %}
<head>
    <title>Menyu</title>
</head> 
    <section class="menu">
        <h1 class="heading">Our <span>menu</span></h1>
        <div class="box-container">
          {% for item in menu_items %}
            <div class="box">  
              <div class="boxes-head">
                  <img src="{% static item.image %}" alt="{{ item.name }}">
                  <span class="menu-category">{{ item.category }}</span>
                  <h3>{{ item.name }}</h3>
                  <div class="price">{{ item.price }} <span>{{ item.discount }}</span></div>
              </div>
              <div class="box-bottom">
                  <a href="{{ item.url }}" class="btn">Sifaris et</a>
              </div>
            </div>
          {% endfor %}
        </div>
    </section>
{% endblock %}