{% extends 'namik/base.html' %}
{% load static %}
{% block content %}
<head>
  <title>Qeydiyyat</title>
  <style>
    body{
      height: 50%;
    }
  </style>
</head>

    <section class="contact">
        <h1 class="heading">register <span>us</span></h1>
        <div class="row">
            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d759.9333922854747!2d49.816524048132564!3d40.37043164809927!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d459ee769e5%3A0x6950cf062f1b20c2!2zQXZ0b8WfIGTDtm7JmXI!5e0!3m2!1str!2saz!4v1712757737551!5m2!1str!2saz"  loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          <div class="register">
        <form method="POST">
            {% csrf_token %}
            
        {% if error %}
            <p style="color:red;">{{ error }}</p>
        {% endif %}

            <label for="username">Username</label>
            <input type="text" name="username" value="{{ username }}">
<hr>
            <label for="email">Email</label>
            <input type="email" name="email" value="{{ email }}" autocapitalize="off" style="text-transform: lowercase;">
<hr>
            <label for="firstname">First Name</label>
            <input type="text" name="firstname" value="{{ firstname }}">
<hr>
            <label for="lastname">Last Name</label>
            <input type="text" name="lastname" value="{{ lastname }}">
<hr>
            <label for="password">Password</label>
            <input type="password" name="password">
<hr>
            <label for="repassword">Re-Password</label>
            <input type="password" name="repassword">
<hr>
            <input type="submit" value="Register">
            <p>Hazir bir hesabiniz varsa eger</p>
            <a href="{% url 'contact' %}">Giris et.</a>
        </form>
    </div>
        </div>
    </section>
{% endblock %}