 :root{
    --main-color: rgb(255, 158, 48); 
    --black-color: #0E0E0E;
    --border: 0.1rem solid rgba(255,255,255,0.4)
 }
 
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s ease;
    font-family: "Anta", sans-serif;
 }



/*! base html codes */
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: 0.8rem;
    background-color: #fff;
}
html::-webkit-scrollbar-thumb{
    border-radius: 3rem;
    background-color: var(--black-color);
}

body{
    background-color: var(--main-color);
    height: 200vh;
}
section{
    padding: 3.5rem 7%;
}
a{
    color: var(--black-color);
    text-decoration: none;
}
.heading{
    color: #fff;
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: 3.5rem;
    border-bottom: 0.1rem solid #fff;
}
.heading span{
    color: var(--black-color);
    text-transform: uppercase;
}
.search-input{
    font-size: 1.6rem;
    color: var(--black-color);
    padding: 1rem;
    text-transform: none;
    border-radius: 3rem;
}
/*! header start */
.header .search-form{
    position: absolute;
    top: 115%;
    right: 7%;
    background-color: #FFF;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    border-radius: 3rem;
    box-shadow: 0px 0px 25px 2px rgb(0 0 0 / 75%);
    transform: scaleY(0);
}
.header .search-form.active{
    transform: scaleY(1);
}
.header .search-form i{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: black;
}
.header .search-form input{
    width: 100%;
}
.HOTEL img{
    height: 7rem;
}

.header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    border-radius: 30rem;
    box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.75);
    position: sticky;
    top: 0;
    z-index: 1000;
    margin-top: 10px;
}

.header .navbar a{
    margin: 1.2rem;
    font-size: 1.6rem;
    color: var(--black-color);
    border-bottom: 0.1rem solid transparent;
}
.header .navbar .active,
.header .navbar a:hover{
    border-color: var(--main-color);
    padding-bottom: 0.5rem;
}

.header .buttons button{
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
    background-color: transparent;
}
.header .cart-items-container{
    position: absolute;
    top: 95%;
    height: calc(100vh - 9rem);
    width: 35rem;
    background-color: #fff;
    box-shadow: 0px 20px 14px 0px rgba(0 0 0 / 75%);
    right: -100%;
}
.header .cart-items-container.active{
    right: 3rem;
}
.header .cart-items-container .cart-item{
    position: relative;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem;
}
.header .cart-items-container .cart-item:hover{
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.header .cart-items-container .cart-item img{
    height: 7rem;
}
.header .cart-items-container .cart-item .content h3{
    font-size: 2rem;
    color: black;
    padding-bottom: 0.5rem;
}
.header .cart-items-container .cart-item .content .price{
    font-size: 1.5rem;
    color: black;
}
.header .cart-items-container .btn{
    width: 100%;
    text-align: center;
    border-radius: unset;
}
.header .cart-items-container .cart-item .fa-times{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 2rem;
    cursor: pointer;
    color: black;
}
.header #menu-btn{
    display: none;
}
/*! header end */

/*! home start */
.home{
    min-height: 100vh;
    background: url(../images/home.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    margin-top: -14.5rem;
}
.home .content h3{
    margin-top: -50px;
    font-size: 8rem;
}
.home .content p{
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.8;
    padding: 1rem 0;
    color: white;
}
.home .content{
    max-width: 60rem;
}

.home .content{
    font-size: 6rem;
}
.home .content .btn:hover{
    color: #e84242;
    transform: 0.5;
}
/*! home end */
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 2rem 3.75rem;
    border-radius: 30rem;
    font-size: 1.9rem;
    color: white;
    background-color: var(--black-color);
    cursor: pointer;
}
.btn :hover{
    opacity: 0.4;
    
}

.Ballaken img{
    height: 7rem;
    
}

/*! menu start */
 .menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 1.5rem;
 }
 .menu .box-container .box{
    padding: 3rem;
    background-color: #fff;
    border-radius: 3rem;
    background-color: #fff;
    min-height: 60rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
 }
 .menu .box-container .box img{
    width: 100%;
    object-fit: cover;
 }
 .menu .box-container .box menu-category{
    font-size: 1.2rem;
 }
 .menu .box-container .box h3{
    font-size: 3rem;
    padding: 1rem 0;
 }
 .menu .box-container .box .price{
    font-size: 2.5rem;
    padding: 0.5rem 0;
 }
 .menu .box-container .box .price span{
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: 300;
 }
/*! menu end */
/*!about start */
.about .row {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    padding: 3rem;
    background-color: #fff;
    border-radius: 3rem;
    background-color: #fff;
    flex-direction: column;
    align-items: flex-start;
}
.about .row .image {
    flex: 1 1 45rem;
}
.about .row img {
    width: 100%;
}
.about .row .content{
    flex:1 1 45rem;
}
.about .row .content h3{
font-size:3rem ;
color: black;
}
    .about .row .content p{
        font-size:1.6rem ;
        color: red;
        padding:1rem 0 ;
        line-height: 1.8rem
    }



/*!about end*/
/*!contact start*/
.contact .row{
    display: flex;
    background-color: blanchedalmond;
    flex-wrap: wrap;
    gap: 1rem;
 }
 .contact .row .map{
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
 }
 .contact .row .form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: blue;
 }
 .contact .row .form .inputbox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: var(--border);
 }
 .contact .row .form .inputbox .i{
    color: bisque;
    font-size: 2rem;
    padding-left: 2rem;
 }
.contact input[type="email"] {
    text-transform: lowercase;
}

/*!contact end*/


/*! blogs start */
.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 1.5rem;
}

.blogs .box-container .box{
    background-color: #fff;
    border-radius: 3rem;
}
.blogs .box-container .box .image{
    height: 25rem;
    overflow: hidden;
    width: 100%;
    border-top-left-radius: 3rem;
    border-top-left-radius: 3rem;
}
.blogs .box-container .box .image img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.blogs .box-container .box:hover .image img{
    transform: scale(1.2);
}
.blogs .box-container .box .content .title{
    line-height: 1.5;
    font-size: 2.5rem;
}
.blogs .box-container .box .content span{
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}
.blogs .box-container .box .content p{
    font-size: 1.6rem;
    line-height: 1.8;
    color: #ccc;
    padding: 1rem 0;
}
/*! blogs end */

/*! footer start */
.search-input {
    font-size: 1.6rem;
    color: var(black);
    padding: 1rem;
    text-transform: none;
    border-radius: 3rem;
    }

    
    .footer{
        background-color:black;
        text-align: center;
        position: absolute;
        margin-top: 100px;
        left: 0%;
        width: 100%;
    }
    .footer .search{
        display: flex;
        justify-content: center;
    }
    .footer .search .search-input{
        width: 30rem;
    }
    .footer .search .btn-primary{
        background-color: #e84242;
        padding: 1rem 2rem;
        margin-left: 1rem;
        border-radius: 3rem;
    }
    .footer .share {
        padding: 2rem 0;
    }
    .footer .share a{
        width: 5rem;
        height: 5rem;
        line-height: 5rem;
        color: white;
        font-size: 2rem;
        border: var(--border);
        border-radius: 50%;
        margin: 0.3rem;
    }
    .footer .share a:hover{
        background-color: #e84242;
    }
    .footer .links{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }
    .footer .links a{
        background-color: #e84242;
        padding: 0.7rem 2rem;
        color: white;
        font-size: 2rem;
    }
    .footer .links a:hover{
        background-color: #e84242;
        opacity: 0.7;
    }
    .footer .credit{
        color: white;
    }
    .footer .credit span{
        color: #e84242;
    }
/*! footer end */
/*!products start*/
.product .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 1.5rem;
}

.product .box-container .box{
    text-align: center;
    background-color: white;
    position: relative;
    border-radius: 3rem;
    height: 70rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem;
    overflow: hidden;
}
.product .box-container .box .box-head{
display: flex;
flex-direction: column;
align-items: flex-start;
position: relative;
z-index: 10;
}
.product .box-container .box .box-head .title{
font-size: 1.4rem;
}
.product .box-container .box .box-head .title .name {
font-size: 4rem;
font-weight: bold;
text-align: start;
overflow-wrap: anywhere;
}
.product .box-container .title{
        color: rgb(0, 0, 0);
}

.product .box-container .img{
position: absolute;
top: 50%;
left: 50%;
width: 100%;
object-fit: cover;
transform: translate(-50%,-50%);
border-radius: 3rem;
}
.product .box-container .box-bottom{
display: flex;
justify-content: space-between;
align-items: center;
position: relative;
z-index: 10;
}

.product .box-container .box-bottom .info{
display: flex;
flex-direction: column;
align-items: flex-start;
}

.product .box-container .box-bottom .info .price{
font-size: 3rem;
}
.product .box-container .box-bottom .info .amount{
    font-size: 1.4rem;
}
.product .box-container .box-bottom .product-btn a{
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
width: 6.5rem;
height: 6.5rem;
border: 0.2rem solid var(--main-color);
}

.product .box-container .box-bottom .product-btn a i{
font-size: 1.6rem;
color: black;
}

/*!products end */

/*!review start */
.review .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 1.5rem;
    overflow: hidden;
}
.review .box-container .box{
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
    background-color: white;
    border-radius: 3rem;
}
.review .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    padding: 2rem 0;
}
.review .box-container .box .user{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}
.review .box-container .box h3{
    padding: 1rem 0;
    font-size: 2rem;
    color: var(--main-color);
}
.review .box-container .box .stars{
    font-size: 1.5rem;
    color: gold;
}
.review .search-form{
    position: absolute;
    top: 115%;
    right: 7%;
    background-color: #FFF;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    border-radius: 3rem;
    box-shadow: 0px 0px 25px 2px rgb(0 0 0 / 75%);
    transform: scaleY(0);
}
.review .search-form.active{
    transform: scaleY(1);
}
.review .search-form i{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: black;
}
.review .search-form input{
    width: 100%;
}
/*!review end */
/*!slider start */
.slider{
    position: relative;
    width: 500px;
    height: 300px;
    border: 1px solid #ccc;
    margin: auto;
    overflow: hidden;
    margin-top: 100px;
}
.slider-content{
    position: absolute;
    width: 2000px;
    display: flex;
    
    left: 0;

    animation: slide 30s infinite;
}
.slider-content:hover{
    animation-play-state: paused;
}
.slider-item{
    width: 25%;
    float: left;

}
@keyframes slide {
0%{transform: translateX(0px);}
10%{transform: translateX(-500px);}
20%{transform: translateX(-500px);}
30%{transform: translateX(-1000px);}
40%{transform: translateX(-1000px);}
50%{transform: translateX(-1500px);}
60%{transform: translateX(-1500px);}
70%{transform: translateX(-2000px);}
80%{transform: translateX(-2000px);}
90%{transform: translateX(0px);}
}
/*!slider end */
/*!responsive start */
@media (max-width: 991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 1.5rem 2rem;
    }
    .header .Ballaken {
        height: 7rem;
    }
    section{
        padding: 2rem;
    }
    .product .box-container .box .box-head .name{
        font-size: 3.4rem;
    }
}
@media (max-width: 768px){
    .header #menu-btn{
        display: inline-block;
    }
    .header .navbar{
        position: absolute;
        top: 95%;
        background-color: #fff;
        height: calc(100vh - 9rem);
        width: 30rem;
        box-shadow: 0px 20px 14px 0px rgb(0 0 0 / 75%);
        right: -100%;
    }
    .header .navbar.active{
        right: 3rem;
    }
    .header .navbar a {
        color: black;
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }
}
@media (max-width:576px){
    html{
        font-size: 50%;
    }
}
/*!responsive end */